<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--日志级别-->
    <!--TRACE<DEBUG<INFO<WARN<ERROR-->
    <!--定义成员常量-->
    <property name="log.level" value="debug" />
    <property name="log.maxHistory" value="30" />
    <property name="log.filePath" value="D://logs//"/>
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n" />
    <!--控制台设置-->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <!--debug设置-->
    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件路径-->
        <file>${log.filePath}/debug.log</file>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件名称-->
            <fileNamePattern>${log.filePath}/debug/debug.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--可以保存数量-->
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <!--将日志转换为字符串，输出到文件中-->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <!--过滤器，过滤掉不是debug的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <!--保留-->
            <onMatch>ACCEPT</onMatch>
            <!--过滤-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--INFO设置-->
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件路径-->
        <file>${log.filePath}/info.log</file>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件名称-->
            <fileNamePattern>${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--可以保存数量-->
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <!--将日志转换为字符串，输出到文件中-->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <!--过滤器，过滤掉不是info的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <!--保留-->
            <onMatch>ACCEPT</onMatch>
            <!--过滤-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--ERROR设置-->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件路径-->
        <file>${log.filePath}/error.log</file>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--文件名称-->
            <fileNamePattern>${log.filePath}/error/error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!--可以保存数量-->
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <!--将日志转换为字符串，输出到文件中-->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <!--过滤器，过滤掉不是error的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--保留-->
            <onMatch>ACCEPT</onMatch>
            <!--过滤-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--logger存放日志对象  additivity属性继承info-->
    <logger name="com.ziqing" level="${log.level}" additivity="true">
        <!--绑定-->
        <appender-ref ref="debugAppender" />
        <appender-ref ref="infoAppender" />
        <appender-ref ref="errorAppender" />
    </logger>
    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>